Node Red Flow/UI Node Red Flow.txt
[
    {
        "id": "5230c72.fadcf38",
        "type": "tab",
        "label": "Sheet 1"
    },
    {
        "id": "c052a42.6f34758",
        "type": "mqtt in",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "application/1/device/0ef63e52c2720fbf/rx",
        "qos": "2",
        "datatype": "auto",
        "broker": "2d9f2639.e1267a",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "f4d0cc6b.c3b0b"
            ]
        ]
    },
    {
        "id": "f4d0cc6b.c3b0b",
        "type": "json",
        "z": "5230c72.fadcf38",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "47c75e10.0e674"
            ]
        ]
    },
    {
        "id": "f3edc638.de67f8",
        "type": "base64",
        "z": "5230c72.fadcf38",
        "name": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "e3322c48.e2407",
                "94133f4c.83b64"
            ]
        ]
    },
    {
        "id": "47c75e10.0e674",
        "type": "change",
        "z": "5230c72.fadcf38",
        "name": "Extract msg.payload.data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "f3edc638.de67f8",
                "525201bc.168e5"
            ]
        ]
    },
    {
        "id": "e3322c48.e2407",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Decode Temp & Battery",
        "func": "var temp = (msg.payload[0]<<8) | msg.payload[1];\nvar batteryV = (msg.payload[2]<<8) | msg.payload[3];\n\nmsg.payload.temp=temp/100;\nmsg.payload.batteryV=batteryV/100;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "ef0df394.0901b"
            ]
        ]
    },
    {
        "id": "ccecb172.79e01",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "525201bc.168e5",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1010,
        "y": 140,
        "wires": []
    },
    {
        "id": "94133f4c.83b64",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "ef0df394.0901b",
        "type": "change",
        "z": "5230c72.fadcf38",
        "name": "Extract msg.payload.data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.batteryV",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.t",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "ccecb172.79e01",
                "931dca16.d26558",
                "a2b717f9.764e38"
            ]
        ]
    },
    {
        "id": "931dca16.d26558",
        "type": "ui_text",
        "z": "5230c72.fadcf38",
        "group": "be841215.18635",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b0ee653.6ac3aa",
        "type": "ui_switch",
        "z": "5230c72.fadcf38",
        "name": "LED On/Off",
        "label": "LED On/Off",
        "group": "be841215.18635",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "31ed30c5.92a4f"
            ]
        ]
    },
    {
        "id": "31ed30c5.92a4f",
        "type": "base64",
        "z": "5230c72.fadcf38",
        "name": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "f00bb5d1.565358",
                "6b0850e9.cfbe4"
            ]
        ]
    },
    {
        "id": "f00bb5d1.565358",
        "type": "function",
        "z": "5230c72.fadcf38",
        "name": "Add Base64 data to Payload 'data'",
        "func": "var a=msg.payload;\nmsg.payload={\"reference\":\"abc\",\"confirmed\":true,\"fPort\":10,\"data\":a};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "85f99ace.e92eb8",
                "4ad8ed50.c233d4"
            ]
        ]
    },
    {
        "id": "85f99ace.e92eb8",
        "type": "mqtt out",
        "z": "5230c72.fadcf38",
        "name": "",
        "topic": "application/1/device/0ef63e52c2720fbf/tx",
        "qos": "",
        "retain": "",
        "broker": "2d9f2639.e1267a",
        "x": 950,
        "y": 520,
        "wires": []
    },
    {
        "id": "a2b717f9.764e38",
        "type": "ui_chart",
        "z": "5230c72.fadcf38",
        "name": "",
        "group": "be841215.18635",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Battery Voltage Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1040,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6b0850e9.cfbe4",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "4ad8ed50.c233d4",
        "type": "debug",
        "z": "5230c72.fadcf38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "2d9f2639.e1267a",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT_Broker@DigitalOcean_Cloud",
        "broker": "139.59.38.146",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "be841215.18635",
        "type": "ui_group",
        "z": "",
        "name": "LoRaWAN Uplinks & Downlinks",
        "tab": "6b10c09e.922d4",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "6b10c09e.922d4",
        "type": "ui_tab",
        "z": "",
        "name": "DBIT LoRaWAN Workshop @ TCET",
        "icon": "dashboard"
    }
]